 <div class="header">
     <div class="container">
         <h1 class="logo"><a href="{{ site.baseurl }}/">{{ page.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 <li class="element first">
                     <a href="{{site.url}}">{{ link.title }}</a>
                 </li>
                 <li class="element">
                     <a href="{{site.url}}/labs.html">{{ link.title }}</a>
                 </li>
                 <li class="element last">
                     <a href="{{site.url}}/proyectos.html">{{ link.title }}</a>
                 </li>
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
