<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
    <title>{{page.title}}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/w3.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
</head>
