<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="{{site.url}}" class="w3-btn-block w3-hover-white"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>
    <div class="w3-col s3">
      <a href="/tutorial/2017/01/11/tutorial-python.html" class="w3-btn-block w3-hover-white">TUTORIAL PYTHON</a>
    </div>
    <div class="w3-col s3">
      <a href="/labs.html" class="w3-btn-block w3-hover-white">LABORATORIOS</a>
    </div>
    <div class="w3-col s3">
      <a href="/proyectos.html" class="w3-btn-block w3-hover-white">PROYECTOS</a>
    </div>
  </div>
</div>
