<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include navbar.html %}
        {% include header.html %}
        <div class="w3-sand w3-grayscale w3-large">
            <div class="w3-container" id="prerequisitos">
                <div class="w3-content" style="max-width:700px">
                  <h5 class="w3-left-align w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">PREREQUISITOS</span></h5>
                  <i class="fa fa-check" aria-hidden="true"></i> Es importante que tengan muy claros los conceptos aprendidos en el curso de estructuras de datos que tomaron en el segundo semestre.
                </div>
            </div>

            <div class="w3-container" id="about">
                <div class="w3-content" style="max-width:700px">
                  <h5 class="w3-right-align w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">DESCRIPCIÓN</span></h5>
                    <p>En cursos anteriores han aprendido a programar en un nivel bastante alto de abstracción. Acá,  nos concentraremos en la máquina y cómo esta ejecuta los programas que ustedes escriben. </p>
                    <p>En este curso nos preocuparemos no tanto por el proceso de escribir un programa de computadora, sino más bien en cómo la computadora ejecuta los programas. Es decir, el tema principal de este curso es la “estructura de la máquina"-- los circuitos electrónicos, y las operaciones computacionales que estos circuitos llevan a cabo.</p>
                </div>
            </div>

            <div class="w3-container" id="lectures">
                <div class="w3-content" style="max-width:700px">
                  <h5 class="w3-left-align w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">VIDEOS (LECTURES)</span></h5>
                  <div class="w3-center">
                      <iframe class="w3-hide-small w3-hide-medium" width="560" height="315" src="https://www.youtube.com/embed/ByOJ7gL8qWQ?list=PL-XXv-cvA_iC_nP-PWFi66murdT_-Nqi1" frameborder="0" allowfullscreen></iframe>
                      <iframe class="w3-hide-small w3-hide-large" width="460" height="315" src="https://www.youtube.com/embed/ByOJ7gL8qWQ?list=PL-XXv-cvA_iC_nP-PWFi66murdT_-Nqi1" frameborder="0" allowfullscreen></iframe>
                      <iframe class="w3-hide-large w3-hide-medium" width="360" height="215" src="https://www.youtube.com/embed/ByOJ7gL8qWQ?list=PL-XXv-cvA_iC_nP-PWFi66murdT_-Nqi1" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
            </div>

            <div class="w3-container" id="lectures">
                <div class="w3-content" style="max-width:700px">
                  <h5 class="w3-right-align w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">TEAM</span></h5>
                  <p>
                      <b>Catedrático:</b>
                      <ul>
                          <li>Ali Lemus - <a href="#">alilemus@galileo.edu</a></li>
                      </ul>
                      <b>Auxiliares:</b>
                      <ul>
                          <li>Inés Ramirez - <a href="#">inesr.sotoj@galileo.edu</a></li>
                          <li>Julio Fajardo - <a href="#">julioefajardo@gmail.com</a></li>
                          <li>Diego Calderon - <a href="#">diegocdl@galileo.edu</a></li>
                          <li>Carlos Hermosilla - <a href="#">efrainh12@galileo.edu</a></li>
                          <li>Andrés Castellanos - <a href="#">andres.cv@galileo.edu</a></li>
                          <li>Juan Cardona - <a href="#">15000787@galileo.edu</a></li>
                          <li>Rodrigo Canek - <a href="#">rodcanek11@galileo.edu</a></li>
                      </ul>
                  </p>
                </div>
            </div>

        </div>
        {% include footer.html %}
    </body>
</html>
